:root {
    --clr-White: #ffffff; 
    --clr-black: #000000; 
    --font:'Noto Sans JP', sans-serif;
}
*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: var(--font);
    background-image: url("../sectionThree/img/table.png");
    background-size: cover;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}
.sectionGame {
    width: 50%;
    margin: 0 auto;
}
.game {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 2rem auto;
    padding: 1rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.title {
    text-align: center;
    font-size: 3rem;
    color: goldenrod;
    font-weight: bold;
    width: 100%;
    margin: 1rem 0;
}
p {
    margin: 1rem 0;
    padding: .5rem;
    width: 100%;
    color: #000000;
    text-align: center;
}

#message-el {
   font-size: 1.6rem;
}
.card {
   font-size: 1.4rem;
}
.suma {
   font-size: 1.4rem;
}

button {
    padding: 1rem;
    margin: 2rem 0;
    width: 100px;
    color: #ffffff;
    background: goldenrod;
    width: 50%;
    border: none;
    outline: none;
    border-radius: .5rem;
    text-align: center;
    cursor: pointer;
}
button:is(:hover) {
    background: #ffffff;
    color: #000000;
    font-weight: bold;
}
button:active {
    transform: scale(.9);
}

.newThreeCard {
    font-size: 1.6rem;
}

.newSelect {
    font-size: 1.6rem;
}
#player-el {
    margin: 2rem 0;
    font-size: 1.8rem;
    color: #000000;
    font-weight: 500;
}
#player {
    margin: 1rem 0;
}