:root {
    --clr-White: #ffffff; 
    --clr-black: #000000; 
    --font:'Noto Sans JP', sans-serif;
}
*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: var(--font);
    background: #ffffff;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}