* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    object-fit: cover;
    background-size: cover;
    background-size: cover;
    background-position: center;
}
body {
font-family: sans-serif;

}
header {
    width: 100%;
    height: 15vh;
    background-color: black;
}
main {
    margin: 0 auto;
    width: 50%;
  /*   height: 100vh; */
}
h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: .5rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}
p {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
    padding: 1rem;
    letter-spacing: .1px;
    color: black;
}
aside {
    width: 100px;
    height: 50px;
    background-color: blueviolet;
}

footer {
    width: 100%;
    height: 40px;
    background: black;
    margin-top: 2rem;
}

.button {
    padding: 1rem;
    margin: 1rem .5rem;
    font-size: 1.6rem;
    border-radius: .5rem;
    border: none;
    outline: none;
}
.keyboard {
    padding: 1rem;
    color: rgb(148, 144, 144);
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 1rem;
    outline: none;
}

.controls {
    margin-top: 2rem;
}
#img-error {
 padding: 1rem;
 margin-bottom: 1rem;
}
.event-log {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputs {
    padding: 1rem;
    outline: none;
    
}
