* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    object-fit: cover;
}
body {
    width: 100%;
}
.form {
   /*  width: 80%; */
    margin: 50px 20%;
    text-align: center;
    background: violet;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}
h2 {
margin: 0;
/* flex-basis: 90%; */
flex-grow: 1;
font-size: 1.8rem;
color: #fff;
font-weight: 700;
}
input {
    width: 30px;
    outline: none;
}
input[type="button"] {
    width: 50px;
    margin-left: 5px;
    color: #000;
    background: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
}
