* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    object-fit: cover;
}
body {
    width: 100%;
    height: 100vh;
}
.grid-container {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: repeat(4,minmax(min-content, max-content));
    grid-auto-rows: 50px;
}
.grid-container .grid-item {
    padding: 10px;
    border: 1px solid lightblue;
    margin: 5px;
}