:root {
    --clr-white: #ffffff; 
    --clr-black: #000000; 
}
*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}; 
html {
    font-size: 62.5%;
}; 
ul {
    list-style: none;
}; 
a {
    text-decoration: none;
    cursor: pointer;
}; 
img {
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}; 

body {
    width: 100%;
    font-family: 'Rubik', sans-serif;
}
h1 {
    text-align: center;
}
.gameOne {
    width: 100%;
    margin: 2rem 0;
}
