:root {
    --clr-White: #ffffff; 
    --clr-black: #000000; 
    --clr-base: #2F2B8C; 
    --clr-sec: #1A5A73; 
    --clr-comp: #04BF68; 
    --clr-som1: #2B4C8C; 
    --clr-som2: #05A66B; 


}
*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: 'Play', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5), #002b48), url(../addMusic/image/musicOne.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}
.music {
    width: 90%;
    position: relative;
    z-index: 2;
    padding: 3rem;
    margin: 2rem auto;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
figure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.music img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 4px 5px #16161616;
    border-radius: 5px;
}
.info {
    width: 100%;
    grid-column: 2 / 3;
    margin: 0 auto;
    padding: 1rem;
}
.info h1 {
    font-size: 1.8rem;
    color: #ffffff;
    padding: .5rem;
    margin: 1rem auto;
}
.info p {
    font-size: 1.4rem;
    color: #ffffff;
    opacity: .5;
    padding: .5rem;
    margin: .5rem auto;
}
.info-icons {
    width: 100%;
    padding: 1rem;
    padding: .5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info-icons a i {
    font-size: 2rem;
    cursor: pointer;
    color: #ffffff;
}
.audioOne {
    width: 100%;
    margin: 1rem auto;
    padding: .5rem;

}